body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* heder  */

.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 24px;
  padding-top: 24px;
  display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.adress-list {
  font-style: normal;
}

.adress-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 24px;
  padding-top: 24px;
  display: block;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.heder {
  border-bottom: 1px solid #e7e9fc;
}

.heder-navigation {
  display: flex;
  gap: 40px;
}

.heder-adress {
  display: flex;
  gap: 40px;
}

.heder-wrap {
  display: flex;
  align-items: center;
}

.heder-all {
  display: flex;
  gap: 332px;
}
/* section 1 */

.section-hero {
  background: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}

.container-hero {
  padding: 188px 331px;
}

.section-hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background: #404bbf;
}

/* section2 */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-advantages-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

/* section3 */

.section-our-team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-our-team-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-text-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
}

.our-team-list-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.our-team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

/* section 4 */

.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-img {
}

.section-portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-portfolio-list {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  letter-spacing: 0.4px;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background: var(--WHITE, #fff);
}

.portfolio-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* footer */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-studio-white {
  color: #f4f4fd;
}

.foter-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
